body {
  margin:0;
  height: 100vh;
  overflow:scroll;
}

svg {
  overflow: visible;
}

.reaching-hand {
  margin: auto;
  position: absolute;
  bottom: 500px;
  width: 600px;
  left: 450px;
}

main  {
  height: 100vh;
  width: 100vw;
  overflow:hidden;
 }

.ground {
  fill: #006838;
}

.cls-3 {
  fill: #5997ff;
}

.hairs-main {
  fill: #5997ff;
}

.eyes {
  fill: #231f20;
}

.hand-main {
  fill: #000000;
}

.reaching-hand .hand-main {
  width: 600px;
  margin: auto;
  animation-name: hand-move;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-iteration-count:infinite;
  transform-origin: center center;
  transform:translate(0deg);
  transform: translateX(100vw);
  transform: translateY(100vh);
}

@keyframes hand-move {
  0% {
    transform: translateX(-50vw);
  } 
  25% {
    transform: translate(0px,0px);
  } 
  50% {
    transform: translate(100px,70px);
  }
  75% {
    transform: translate(0px,0px);
  }
  100% {
    transform: translateX(55vw);
  }
}

.bigfoot-main {
  width: 900px;
  margin:auto;
  border: 1px solid red;
}

.bigfoot-main .cls-3 {
  width: 900px;
  margin: auto;
  transform:rotateX(0deg);
  animation-name: body-shake;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center center;
}

@keyframes body-shake {
  0% {
    transform:rotate(0deg);
}
50% {
    transform:rotate(-.5deg);
}
100% {
  transform:rotate(0deg);
  }
}

.bigfoot-main .hairs-main {
  width: 900px;
  margin: auto;
  transform:rotateX(0deg);
  animation-name: hairs-shake;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center center;
}

@keyframes hairs-shake {
  0% {
    transform:rotate(0deg);
}
50% {
    transform:rotate(1deg);
}
100% {
  transform:rotate(0deg);
  }
}

.bigfoot-main .eyes {
  animation-name: blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes blink {
  0% {
    opacity: 1; transform:translateY(0px) translateX(0px);
  }
  50% {
    opacity: 1; transform:translateY(-4px) translateX(5px);
  }
  75% {
    opacity: 1;  transform:translateY(3px) translateX(0px);
  }
  100% {
    opacity: 1;  transform:translateY(0px) translateX(0px);
  }
}

