body {  
  background: rgb(183,218,96);
  background: radial-gradient(circle, rgba(183,218,96,1) 0%, rgba(135,200,95,0.8561799719887955) 54%, rgba(82,173,113,1) 83%);
}

.petals {
  fill: #9bb5ff;
  stroke-width: 0.75px;
}

.petals, .center {
  stroke: #000;
  stroke-miterlimit: 10;
}

.center {
  fill: #ffd972;
  stroke-width: 0.5px;
}

svg {
  overflow: visible;
}

.blue-flower {
  width: 400px;
  margin: auto;
}

.blue-flower .petals {
  width: 400px;
  margin: auto;
  transform:rotate(0deg);
  animation-name: blue-flower;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center center;
}

@keyframes blue-flower {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(359deg);
  }
}

.blue-flower .center {
  animation-name: bigger;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  transform-origin: center center;
}

@keyframes  bigger {
  0% {
      transform:scale(1);
  }
  50% {
      transform:scale(1.5);
  }
  100% {
      transform:scale(.7);
  }
}
